*{margin: 0; padding: 0;}
.header {
    background-color: #203541;
    display: flex;
    width: 100%;
    height: auto;
}
.logo {
    flex:1;
    padding: 10px;
}
.menu {
    flex: 3;
}
.menu ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
    flex-flow: row wrap;
}
.menu ul li {
    flex: 1;
    text-align: center;
}
.menu ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    padding: 4px 4px;
    border-radius: 8px;
}
.menu ul li a:hover {
    background-color: orange;
}
#currentPage {
    background-color: orange;
}
.banner-text {
    display: flex;
    padding: 5% 0;
    color: #EEEEEE;
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 2em;
    font-style: italic; 
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    background: url("images/444162.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
}
.top-books {
    background-color: #EEEEEE;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.top-books-header {
    border-bottom: 2px solid grey;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #203541;
}
.top-books-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 3%;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-image {
    width: 150px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.book-header {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}
.top-books-items {
    margin-left: 10%;
    margin-right: 10%;
}
.book-header {
    color: #203541;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.book-author {
    color: #203541;
    font-family: Arial, Helvetica, sans-serif;
}
.book-description {
    display: flex;
    background-color: #203541;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    flex-flow: row wrap;
}
.book-description-image {
    width: 200px;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.book-description-items {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    width: 50%;
}
.book-description-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}
.book-description-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20%;
}
.book-description-button {
    display: flex;
    align-self: flex-end;
}
.book-description-button button {
    background-color: orange;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.book-description-button button:hover {
    background-color: #203541;   
}
.latest-posts-background {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #EEEEEE;
}
.latest-posts {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.latest-posts-header {
    border-bottom: 2px solid grey;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #203541;
}
.post {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
}
.post-info {
    height: auto;
    width: 70%;
}
.post-image {
    width: 150px;
    height: 250px;
    margin-left: 5%;
}
.post-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
.post-header h4 {
    color: #203541;
}
.post-header p {
    color: orange;
    font-style: italic;
    font-weight: bold;
}
.post-text {
    text-align: left;
    line-height: 2;
}
.footer {
    background-color: #203541;
    text-align: center;
    width: 100%;
    height: auto;
}
.footer-text {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}