@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,700i');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------ Content code ----------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.wrapper {
    max-width: 1024px;
    display: flex;
}


.header {
  background-color: #203541;
  height: 100px;

  display: flex;
  justify-content: center;
}

.header .wrapper 
{
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  
}

.logo .logo-text {
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
}
.menu ul li {
    padding: 5px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 10px;
}
.menu ul li a:hover {
  background-color: orange;
  padding: 10px;
}
#currentPage {
  background-color: orange;
  padding: 10px;
}
.banner-text {
  padding: 5% 0;
  color: #eeeeee;
  margin: auto;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-style: italic;
}
.banner {
  background: url("images/444162.jpg");
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
}
.top-books {
  display: flex;
  justify-content: center;
}
.top-books .wrapper {
    justify-content: center;
    background-color: #eeeeee;
    padding-bottom: 3%;
    width: 1024px;
}
.top-books-header {
  border-bottom: 2px solid grey;
  padding: 3%;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  color: #203541;
  text-align: center;
}
.top-books-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2%;
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 55px;
  padding-right: 55px;
}
.book-image {
  width: 150px;
  height: 250px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.book-header {
    padding-bottom: 5%;
    padding-top: 5%; 
    font-weight: bold;
    color: #203541;
}
.book-author {
  color: #203541;
}
.book-description {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.book-description .wrapper {
  display: flex;
  justify-content: center;
  background-color: #203541;
}
.book-description-image {
    width: 200px;
    height: 300px;
}
.book-description-items {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}
.book-description-header {
  color: white;
  font-style: italic;
}
.book-description-text {
  color: white;
}
.book-description-button {
  display: flex;
  align-self: flex-end;
}
.book-description-button button {
  background-color: orange;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.book-description-button button:hover {
  background-color: #203541;
}
.latest-posts-background {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #eeeeee;
}
.latest-posts {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.latest-posts-header {
  border-bottom: 2px solid grey;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #203541;
}
.post {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5%;
}
.post-info {
  height: auto;
  width: 70%;
}
.post-image {
  width: 150px;
  height: 250px;
  margin-left: 5%;
}
.post-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2%;
}
.post-header h4 {
  color: #203541;
}
.post-header p {
  color: orange;
  font-style: italic;
  font-weight: bold;
}
.post-text {
  text-align: left;
  line-height: 2;
}
.footer {
  background-color: #203541;
  text-align: center;
  width: 100%;
  height: auto;
}
.footer-text {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
}